{% extends "template.html" %}

{% block body %}
  <main class="container-xl">
      <div class="d-flex justify-content-between align-items-center">
        <p class="h3">{{post.title}}</p>
        {% if g.user.id==post.user.id %}
        <div class="d-flex justify-space-between">
            <a class="btn btn-primary mx-3" href="/edit_blog/{{post.id}}">Edit</a>
            <a class="btn btn-danger" href="/delete/{{post.id}}">Delete</a>
        </div>
        {% endif %}
      </div>
      <div class="rounded shadow p-3 my-4">
        <p class="lead">{{post.text}}</p>
        <hr>
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex">
            <img src="/static/images/{{post.user.picture}}" id="navBarImage" class="mx-2"/>
            <a class="link text-info" href="/profile/{{post.user.id}}">{{post.user.username}}</a>
          </div>
          <p class="text-primary">{{post.date}}</p>
        </div>
      </div>
  </main>
{% endblock %}